* {
    background-color: #eae0cf;
    color: #213448;
    font-size: 16px;
}

h1 {
    font-size: 32px;
}

button {
    background-color: #94b4c1;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
}

