* {
    background-color: #eae0cf;
    color: #213448;
    font-size: 16px;
}

body {
    width: 80%;
    height: 60vh;
    margin: 15vh auto;
    display: flex;
    flex-direction: column;
    border: 4px solid #213448;
    border-radius: 12px;
    flex: 1 auto;
    padding: 12px;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 32px;
    padding: 12px;
    margin: 0px;
}

button {
    background-color: #94b4c1;
    padding: 12px;
    border-radius: 12px;
}

.button-container {
    width: 75vw;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.results-container, .score-container {
    height: 20px;
}

